body{
    background:#f8f8f8;
}
.login-page{
    min-height:100vh;
    padding:40px;
}
.login-card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.12);
    max-width:1100px;
}
.login-image{
    width:100%;
    height:100%;
    object-fit:cover;
    display: block;
}
.login-content{
    padding:60px;
}
.brand{
    font-size:55px;
    font-weight:bold;
    font-family:Georgia, serif;
}.divider{
    position:relative;
    display:inline-block;
    color:#888;
    font-weight:600;
}
.divider::before,
.divider::after{
    content:"";
    position:absolute;
    width:70px;
    height:1px;
    background:#ccc;
    top:50%;
}
.divider::before{
    right:120%;
}
.divider::after{
    left:120%;
}
.form-control:focus{
    box-shadow:none;
    border-color:black;
}
a{
    text-decoration:none;
}
.social-btn {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: white;
    border: 1px solid #8c5cff;
    border-radius: 5px;
    font-size: 15px;
}
.social-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.social-btn span {
    white-space: nowrap;
}
@media (max-width: 576px) {
.login-page {
    width: 100%;
    min-height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
}
.login-image-section {
        display: none !important;
    }
.login-card {
    width: 100% !important;
    min-height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.login-content {
    width: 100% !important;
    max-width: 400px;
    margin: 0 auto;
    padding: 80px 30px 40px !important;
    box-sizing: border-box;
  }
  /* Logo */
.login-content h6 {
    text-align: center;
    margin-bottom: 25px;
  }
  /* Sign In heading */
.login-content h1,
.login-content h2 {
    text-align: center;
    margin-bottom: 25px;
}
  /* Google and Gmail buttons */
.social-btn {
    width: 100% !important;
    height: 55px;
    margin-bottom: 15px;
}
  /* OR section */
.or-section {
    width: 100%;
    margin: 25px 0;
  }
  /* Inputs */
.login-content input {
    width: 100% !important;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  /* Sign in button */
.login-content button {
    width: 100%;
    box-sizing: border-box;
  }
}
